*{
  margin:0;
  padding: 0;
}
$min-large:768px;

.navbar-brand{
  img{
    width: auto;
    height: 100%;
  }
}
.navbar-toggle{
  border: 0;
  span{
    background-color: #F7B617 !important;
  }
}
.navbar-header{
  border: 0;
  background-color: white;
  border-bottom: 2px solid #F7B617 !important;
  .navbar-brand{
    padding: 8px;
  }
}
.navbar{
    border: 0;
  @media(min-width:$min-large){
    border: 0;
    color:white !important;
    border-radius: 0;
    margin-bottom: 0;
    background-color: #F7B617 !important;
  }
}
.height-header{
  text-align: center;
  margin-top: 20px;
  height: 120px;
}
ul li a{
  @media(min-width:$min-large){
    color:white !important;
  }
}
.root{
  margin-left: 20px;
  margin-right: 20px;
  @media(min-width:$min-large){
    margin-left: 40px;
    margin-right: 40px;
  }
}
.principal {
  position: relative;
  overflow: hidden;
  img{
    height: 400px;
    @media(min-width:$min-large){
      width: 100%;
    }
  }
}
hr{
  margin-top: 0;
  float: left;
  width: 30px;
  border: 1px solid #F7B617;
  background-color: #F7B617;
}
.medioDiv{
  width: 50%;
  display: inline-block;
}

.completoDiv{
  width: 100%;
}
.medio-sm{
  width: 50%;
  display: inline-block;
  @media(min-width:$min-large){
    width: 100%;
  }
}
.completo-sm{
  width: 100%;
  display: inline-block;
  @media(min-width:$min-large){
    width: 50%;
  }
}


.text-news{
  margin: 20px;
  font-size: 30px;
  color: white;
  position: absolute;
  bottom: 0;
}
.descripcion{
  font-size: 15px;
  width: 500px;
}
img{
  position: relative;
  width: 100%;
  .info-plomo{
    text-transform: capitalize;
    background-color: #2B2B2B;
    color: white;
    font-size: 19px;
    padding: 16px;
  }
}
.img-auto{
  width: auto;
}
.info-plomo{
  height: 100%;
  float: right;
  text-transform: capitalize;
  background-color: #2B2B2B;
  color: white;
  font-size: 19px;
  padding: 16px;
}
.newsmedia{
  // padding-left: 0;
  overflow: hidden;
  height: 100px;
  // padding-right: 0;
  @media(min-width:$min-large){
    overflow:visible;
    height: auto;
  }
}
.medianew{
  margin-top: 10px;
  @media(min-width:$min-large){
    margin-top: 0;
  }
}
.row{
  margin-top: 10px;
}
.height-medio{
  height: 100px;
  overflow: hidden;
  margin-top: 15px;
}

.padding-r{
  padding-right: 0px;
  @media(min-width: $min-large){
    padding-right: 15px;
  }
}

.padding-l{
  padding-left: 0px;
  @media(min-width: $min-large){
    padding-left: 15px;
  }
}

.overflow-image{
  overflow: hidden;
  height: 350px;
  @media(min-width: $min-large){
    overflow:visible;
    height: 100%;
  }
}
